{% load static %}
         
              <div id="dataTools" class="content-toolbar btn-toolbar pull-left clearfix ">
                <div class="btn-group export">
                  <!--a href="/datasource_info/{{platformId}}/add/" class="btn btn-primary">
                    <i class="icon-plus icon-white"></i>
                    增加源文件
                  </a-->
                  <a href="#" class="dropdown-toggle btn btn-primary" data-toggle="dropdown">
                    <i class="icon-plus icon-white"></i>
                    <span class="action-counter" style>添加源文件</span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" >
                    <li><a href="/datasource_info/{{platformId}}/add/">新建源文件</a></li>
                    <li><a href="#uploadXmlModal" data-toggle="modal">导入已有源文件</a></li>
                  </ul>
                </div>
                <div class="btn-group export">
                  <a href="#" class="dropdown-toggle btn btn-success" data-toggle="dropdown">
                    <i class="icon-wrench icon-white"></i>
                    <span class="action-counter" style>操作</span>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" >
                    <li><a onclick="delete_selected()"><i class="icon-remove"></i>Delete selected files</a></li>
                  </ul>
                </div>
                <div class="btn-group export ">
                  <a class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown" href="#">
                    <i class="icon-share"></i> 导出 <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li>
                      <a data-toggle="modal" data-target="#export-modal-xls" onclick="export_excel()"><i class="icon-circle-arrow-down"></i> 导出 Excel</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="uploadXmlModal" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">导入xml文件</h3>
                </div>
                <div class="modal-body">
                  <form enctype="multipart/form-data" method="POST" action="/datasource_info/{{platformId}}/upload_file/">
                    <input type="file" name="your_file" /><br/>
                    <div id="file_uploadQueue" class="uploadifyQueue"></div>
                    <input type="submit" value="上传文件" />
                  </form>
                </div>
                <!--div class="modal-footer">
                  <button class="btn" data-dismiss="modal" aria-hidden="true" id="delete_yes">Yes</button>
                  <button class="btn btn-primary" id="delete_no" data-dismiss="modal">No</button>
                </div-->
              </div>
              <form id="datasource-form" action method="post">
                <div id="myTabContent" class="results table-responsive">
                    <div class="tab-pane fade in active" id="offline">
                        <table class="table table-bordered table-striped table-hover" width="100%">
                            <thead>
                                <tr>
                                    <th scope="col" class="action-checkbox-column">
                                        <input type="checkbox" id="toggle-all" onclick="checkAll(this)" value="-1">
                                    </th>
                                    <th scope="col" class="sortable sorted ascending">
                                        <div class="dropdown pull-left"> <a class="dropdown-toggle" data-toggle="dropdown" >数据源文件名 </a></div>
                                    </th>
                                    <th scope="col" class="sortable">
                                        <div class="dropdown pull-left"> <a class="dropdown-toggle" data-toggle="dropdown" >数据源文件内容 </a></div>
                                    </th>
                                    <th scope="col" class="sortable">
                                        <div class="dropdown pull-left"> <a class="dropdown-toggle" data-toggle="dropdown" >类型 </a></div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for datasouce in datasouceSet  %}
                                <tr>
                                    <td class="grid-item"><input class="action-select" name="_selected_action" type="checkbox" value={{datasouce.id}}></td>
                                    <td><a href="/datasource_info/{{platformId}}/{{datasouce.id}}/update">{{datasouce.name}}</a></td>
                                    <td>{{datasouce.content|truncatewords:20}}</td>
                                    <!--td><a href="#readXml{{case.xml_file.id}}" role="button" data-toggle="modal" id="{{case.xml_file.id}}">{{case.xml_file.name}}</a> 
                                        <div id="readXml{{case.xml_file.id}}" class="modal fade hiden" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidd    en="true">
                                        <div class="modal-header">
                                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                              <h3 id="myModalLabel">{{case.xml_file.name}}</h3>
                                        </div> 
                                        <div class="modal-body">
                                              <textarea rows="20" readonly="readonly">{{case.xml_file.content}}</textarea>
                                        </div>
                                        <div class="modal-footer">
                                              <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                                        </div>
                                        </div>
                                    </td-->                    
                                    <td>
                                      {% if datasouce.type%}
                                      普通
                                      {% else %}
                                      模板
                                      {% endif%}
                                    </td>
                                </tr>
                                {% endfor%}
                            </tbody>
                        </table>
                    </div> 
                </div>
              </form>

              